<h1>Base Knights</h1>
<div class="">
  <h4>User 1 Deck <%= @game.user1_deck.deck %></h4>
  <h4>Bases Deck <%= @game.bases_deck.deck  %></h4>
  <h4>Boss Deck <%= @game.boss_deck.deck  %></h4>
  <h4>Boss Card <%= @game.test  %></h4>
</div>
<%= link_to 'Exit Game', knights_path %>
