<h1>Base Knights</h1>
<div class="">
  <h4>Heros Deck</h4>
  <% @game.heros_deck.each do |card| %>
    Name: <%= card.name %><br />
  <% end %>

  <h4>Bases Deck</h4>
  <% @game.bases_deck.each do |card| %>
    Name: <%= card.name %><br />
  <% end %>

  <h4>Bosses Deck</h4>
  <% @game.bosses_deck.each do |card| %>
    Name: <%= card.name %><br />
  <% end %>
  <h4>Boss Card <%= @game.current_boss.name  %></h4>
</div>

<%= link_to 'Exit Game', knights_path %>
