<h1>Base Knights</h1>
<div class="">
  <h4>Knights Deck <%= @game.knights_pool.deck %></h4>
  <h4>Bases Deck <%= @game.bases_pool.deck  %></h4>
  <h4>Boss Deck <%= @game.boss_pool.deck  %></h4>
  <h4>Boss Card <%= @game.current_boss  %></h4>
</div>

<%= link_to 'Exit Game', knights_path %>
